.round-border {
  /*position: absolute;*/
 
  
  /*border: 1px solid red;*/
  margin:0;

  
  
}


.relative {
  position: relative;
}

.box-background {
  float: left;
  position: relative;
}

.box-background .box {
  
  z-index: 10;
}
.number {
  position: absolute;
  top: 55px;
  left: 51px;
  font-size: 30px;
  font-weight: bold;
  /*border: 2px solid red;*/
  color: #a034bb;
}

.number2 {
  color: #d80a95;
}

.number3{
  color: #e64bcb;
}

.title {
  position: absolute;
  left: 0px;
  top: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #a034bb;
}

.price {
  position: absolute;
  top: 100px;
  left: 55px;
  font-weight: bold;
  font-size: 18px;
  
}

.date {
  position: absolute;
  font-weight: bold;
  top: 120px;
  left: 55px;
  font-size: 15px;
}

.gradient-text {
  background: linear-gradient(to right, #032ba2, #f004bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
 
}


