.round-border {
  /*position: absolute;*/


  /*border: 1px solid red;*/
  margin:0;



}

.elem {
  float: left;
}


.relative {
  position: relative;
}

.box-background {
  float: left;
  position: relative;
  color: lightgray;
}

.box-background .box {

  z-index: 10;
}
.number {
  position: absolute;
  top: 58px;
  left: 41px;
  font-size: 30px;
  font-weight: bold;
  /*border: 2px solid red;*/
  color: lightgray;
}

.active .number {
  color: #a034bb;
}

.active .number2 {
  color: #d80a95;
}

.active .number3{
  color: #e64bcb;
}

.title {
  position: absolute;
  left: 5px;
  top: 35px;
  font-size: 20px;
  font-weight: bold;
  color: lightgray;
  font-family: Roboto;
}

.active .title {
  color: #a034bb;
}

.price {
  position: absolute;
  top: 94px;
  left: 48px;
  font-weight: bold;
  font-size: 18px;
  color: black;
  font-family: Roboto;
}

.date {
  position: absolute;

  top: 117px;
  left: 48px;
  font-size: 13px;
  color: black;
  font-family: Roboto;
}

.gradient-text {

  color: lightgray;
  display: table;

}

.active .gradient-text {
  color: #0B2349;
  background: linear-gradient(to right, #032ba2, #f004bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svgBox {
  float: left;
  position: relative;
}


@media screen and (max-width: 768px) {
  .elem {
    width:100%;
  }
}
